<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Asistencia Club</title>

<style>

body{
    font-family: Arial;
    background:#f4f6f8;
    text-align:center;
    padding:40px;
}

h2{
    margin-bottom:40px;
}

.club{
    display:block;
    width:220px;
    margin:15px auto;
    padding:20px;
    font-size:22px;
    border:none;
    border-radius:15px;
    background:#2d89ef;
    color:white;
    text-decoration:none;
}
.tenis{
    background:#4CAF50;
}

.basquet{
    background:#f57c00;
}
.club:hover{
    background:#1b5fad;
}

</style>

</head>

<body>

<h2>Selecciona club</h2>

<a class="club tenis" href="/asistencia/tenis">🥎 Tenis</a>

<a class="club basquet" href="/asistencia/basquet">🏀 Basquet</a>

</body>

</html>
